@font-face {
    font-family: RobotoBold;
    font-weight: bold;
    src: url(../assets/fonts/Roboto-Bold.ttf);
  }
  
@font-face {
    font-family: RobotoBoldItalic;
    font-weight: bold;
    font-style: italic;
    src: url(../assets/fonts/Roboto-BoldItalic.ttf);
  }
  
@font-face {
    font-family: RobotoItalic;
    font-weight: normal;
    font-style: italic;
    src: url(../assets/fonts/Roboto-Italic.ttf);
  }
  
@font-face {
    font-family: RobotoLight;
    font-weight: 300;
    src: url(../assets/fonts/Roboto-Light.ttf);
  }
  
@font-face {
    font-family: RobotoLightItalic;
    font-weight: 300;
    font-style: italic;
    src: url(../assets/fonts/Roboto-LightItalic.ttf);
  }
  
@font-face {
    font-family: RobotoMedium;
    font-weight: 500;
    src: url(../assets/fonts/Roboto-Medium.ttf);
  }
  
@font-face {
    font-family: RobotoMediumItalic;
    font-weight: 500;
    font-style: italic;
    src: url(../assets/fonts/Roboto-MediumItalic.ttf);
  }

@font-face {
    font-family: RobotoRegular;
    font-weight: 400;
    src: url(../assets/fonts/Roboto-Regular.ttf);
  }
  
@font-face {
    font-family: RobotoThin;
    font-weight: 100;
    src: url(../assets/fonts/Roboto-Thin.ttf);
  }
  
@font-face {
    font-family: RobotoThinItalic;
    font-weight: 100;
    font-style: italic;
    src: url(../assets/fonts/Roboto-ThinItalic.ttf);
  }

  @font-face {
    font-family: VarelaRound;
    font-weight: 100;
    font-style: italic;
    src: url(../assets/fonts/VarelaRound-Regular.ttf);
  }