p {
    font-size: 14px;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-size: 14px;
    margin: 2.5%;
}

h1{
    font-size: 22px;
    font-weight: 500;
}

h2{
    font-size: 16px;
    font-weight: 500;
    padding: 5%;
}

header {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5%;
}

nav div {
    width: 100%;
    align-items: center;
}

nav img {
    width: 35px;
    height: 35px;
}

.links {
   padding: 5%;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20% 5% 20% 5%;
    flex-direction: column;
}

.button {
    width: fit-content;
    height: fit-content;
}

@media screen and (min-width: 900px) {
    p {
        font-size: 24px;
        font-weight: 400;
    }
    
    a {
        text-decoration: none;
        font-size: 24px;
        margin: 2.5%;
    }

    h1{
        font-size: 36px;
        font-weight: 500;
    }

    h2{
        font-size: 28px;
        font-weight: 500;
        padding: 2.5%;
    }

    header {
        width: 100%;
    }
    
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0% 5% 0% 5%;
    }

    nav div {
        width: 30%;
        align-items: center;
    }

    nav img {
        width: 50px;
        height: 50px;
    }

    .links {
        width: 30%;
    }

    section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10% 5% 10% 5%;
        flex-direction: column;
    }
}